In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
xl = pd.ExcelFile('/Users/spencerfogelman/Downloads/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls')

In [8]:
new_york_offenses = xl.parse('13tbl8ny', skiprows=4)

In [9]:
new_york_offenses.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861.0,0.0,0.0,NaN,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0
1,Addison Town and Village,2577.0,3.0,0.0,NaN,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0
2,Akron Village,2846.0,3.0,0.0,NaN,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0
3,Albany,97956.0,791.0,8.0,NaN,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN
4,Albion Village,6388.0,23.0,0.0,NaN,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN

In [10]:
new_york_offenses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 13 columns):
City                                    351 non-null object
Population                              348 non-null float64
Violent
crime                           348 non-null float64
Murder and
nonnegligent
manslaughter    348 non-null float64
Rape
(revised
definition)1              0 non-null float64
Rape
(legacy
definition)2               348 non-null float64
Robbery                                 348 non-null float64
Aggravated
assault                      348 non-null float64
Property
crime                          348 non-null float64
Burglary                                348 non-null float64
Larceny-
theft                          348 non-null float64
Motor
vehicle
theft                     348 non-null float64
Arson3                                  187 non-null float64
dtypes: float64(12), object(1)
memory usage: 35.7+ KB

In [13]:
new_york_offenses['Population_Squared'] = new_york_offenses['Population'] ** 2
print(new_york_offenses.head())

                       City  Population  Violent\ncrime  \
0             Adams Village      1861.0             0.0
1  Addison Town and Village      2577.0             3.0
2             Akron Village      2846.0             3.0
3                    Albany     97956.0           791.0
4            Albion Village      6388.0            23.0

   Murder and\nnonnegligent\nmanslaughter  Rape\n(revised\ndefinition)1  \
0                                     0.0                           NaN
1                                     0.0                           NaN
2                                     0.0                           NaN
3                                     8.0                           NaN
4                                     0.0                           NaN

   Rape\n(legacy\ndefinition)2  Robbery  Aggravated\nassault  Property\ncrime  \
0                          0.0      0.0                  0.0             12.0
1                          0.0      0.0                  3.0             24.0
2                          0.0      0.0                  3.0             16.0
3                         30.0    227.0                526.0           4090.0
4                          3.0      4.0                 16.0            223.0

   Burglary  Larceny-\ntheft  Motor\nvehicle\ntheft  Arson3  \
0       2.0             10.0                    0.0     0.0
1       3.0             20.0                    1.0     0.0
2       1.0             15.0                    0.0     0.0
3     705.0           3243.0                  142.0     NaN
4      53.0            165.0                    5.0     NaN

   Population_Squared
0        3.463321e+06
1        6.640929e+06
2        8.099716e+06
3        9.595378e+09
4        4.080654e+07

In [21]:
new_york_offenses.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3',
       'Population_Squared', 'Murder'],
      dtype='object')

In [20]:
new_york_offenses['Murder'] = np.where(new_york_offenses['Murder and\nnonnegligent\nmanslaughter']>0, 1, 0)
new_york_offenses.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Population_Squared,Murder
0,Adams Village,1861.0,0.0,0.0,NaN,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0,3.463321e+06,0
1,Addison Town and Village,2577.0,3.0,0.0,NaN,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0,6.640929e+06,0
2,Akron Village,2846.0,3.0,0.0,NaN,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0,8.099716e+06,0
3,Albany,97956.0,791.0,8.0,NaN,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN,9.595378e+09,1
4,Albion Village,6388.0,23.0,0.0,NaN,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN,4.080654e+07,0

In [23]:
new_york_offenses['Robbery_cat'] = np.where(new_york_offenses['Robbery'] > 0, 1, 0)
new_york_offenses.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Population_Squared,Murder,Robbery_cat
0,Adams Village,1861.0,0.0,0.0,NaN,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0,3.463321e+06,0,0
1,Addison Town and Village,2577.0,3.0,0.0,NaN,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0,6.640929e+06,0,0
2,Akron Village,2846.0,3.0,0.0,NaN,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0,8.099716e+06,0,0
3,Albany,97956.0,791.0,8.0,NaN,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN,9.595378e+09,1,1
4,Albion Village,6388.0,23.0,0.0,NaN,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN,4.080654e+07,0,1